input[type=number], select {
    width: 100%;
    padding: 1px 2px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #0d6efd;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #0d6efd;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
}

input[type=submit]:hover {
    background-color: darkblue;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    flex: 50%;
}